footer
	.container.text-center
		p.pull-left &copy; 2014 Michael Pelikan All Rights Reserved
		ul.pull-right.list-inline
			li
				a(href='https://github.com/mpelikan/jaby_server') GitHub Project
			li
				a(href='https://github.com/mpelikan/jaby_server/issues') Issues