lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

npm-debug.log
node_modules
.idea
*.iml

public
third-party

logs
systemDB
data.json
jaby/plugins/orb/systemDB
jaby/plugins/orb/topics

.DS_Store
Thumbs.db

config/private.js